
.App {
  text-align: center;

}

.App-header {
  background-color: red;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  color: white;
}
.subtitle {
  color: #61dafb;
}
.App-link {
  color: #61dafb;
}
button {
  margin:5px auto;
  display:block;
  padding: 15px;
}

footer {
  padding-top:22px;
  color: white;
  flex: 0 0 auto;
  background-color: green;
}
