
.App {
  text-align: center;

}
h2 {
  color: yellow;
}
.subtitle {
  color: white;
}
.App-header {
  background-color: #2364e7;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
button {
  margin:5px auto;
  display:block;
  padding: 15px;
}

footer {
  padding-top:22px;
  color: white;
  flex: 0 0 auto;
  background-color: #2364e7;
}
